{
  "extends": ["airbnb", "prettier", "eslint:recommended"],
  "plugins": ["react", "jsx-a11y", "import", "jest"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "classes": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "ignorePatterns": ["labo/lib/geojson-vt-dev.js", "src/store/initialState/"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0,
    "react/display-name": 0,
    "no-console": 0,
    "no-bitwise": 0,
    "no-plusplus": 0,
    "comma-dangle": 0,
    "import/prefer-default-export": 0,
    "max-len": ["error", 100]
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "./webpack/prod.js"
      }
    }
  }
}
