{
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "jest"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "classes": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "ignorePatterns": [
    "labo/lib/geojson-vt-dev.js",
    "labo/lib/fastcorner.js",
    "src/store/initialState/"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/function-component-definition": 0,
    "react/jsx-props-no-spreading": 0,
    "no-console": 0,
    "no-bitwise": 0,
    "no-plusplus": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": 0,
    "comma-dangle": 1,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0
  }
}