#controls {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: stretch;
	z-index: 10;
	background-color: rgba(34, 34, 34, 0.8);
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 4px;
}

#controls div {
	display: flex;
	align-items: stretch;
}

#controls div input[type="range"] {
	width: 100%;
}

#controls div select {
	padding: 0.3em 0.5em;
	border: none;
	border-radius: 4px;
}

#controls div.checkbox-item label {
	margin-right: 0.5em;
}

#controls div input[type="checkbox"] {
	margin-right: 0.5em;
}

#controls label {
	display: flex;
	align-items: center;
}

#controls label,
#controls a {
	font-size: 0.8em;
}

#controls button {
	border-radius: 0.2em;
	padding: 0.5em;
	color: #222;
} 

#controls button:not(#fullscreen-toggle-btn) {
	background-color: var(--project-color);
}

@media (max-width: 570px) {
	#controls.responsive {
		position: relative;
		width: 100%;
		margin: 0;
	}
}
