input[type="range"] {
	appearance: none;
	-webkit-appearance: none; /*nécessaire pour Chrome */
	padding: 0; /* nécessaire pour IE */
	font: inherit; /* même rendu suivant font document */
	outline: none;
	background: transparent;
	margin: 0.5em;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: var(--project-color);
	border-radius: 2px;;
}

input[type="range"]::-moz-range-track {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: var(--project-color);
	border-radius: 2px;;
}

input[type="range"]::-ms-track {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: var(--project-color);
	border-radius: 2px;;
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	height: 2em;
	width: 1em;
	margin: calc(2px - 1em) 0 0 0;
	background: #fff;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

input[type="range"]::-moz-range-thumb {
	appearance: none;
	-webkit-appearance: none;
	height: 2em;
	width: 1em;
	margin: calc(2px - 1em) 0 0 0;
	background: #fff;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

input[type="range"]::-ms-thumb {
	appearance: none;
	-webkit-appearance: none;
	height: 2em;
	width: 1em;
	margin: calc(2px - 1em) 0 0 0;
	background: #fff;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}
