@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-hairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

/* nikkyou, -> pas de kanji :(  -> for title
gata2 -> kanji -> for text
kin-iro - > kanji but process
koharuiro -> kanji sharp
*/

@font-face {
  font-family: 'nikkyou';
  src: url('../fonts/nikkyou.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'whiterabbit';
  src: url('../fonts/whiterabbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'staatliches';
  src: url('../fonts/staatliches.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arame';
  font-weight: 500;
  src: url('../fonts/arame/regular/arame.eot');
  src: url('../fonts/arame/regular/arame.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arame/regular/arame.woff2') format('woff2'),
    url('../fonts/arame/regular/arame.woff') format('woff'),
    url('../fonts/arame/regular/arame.ttf') format('truetype'),
    url('../fonts/arame/regular/arame.svg#Arame') format('svg');
}

@font-face {
  font-family: 'arame';
  font-weight: 100;
  src: url('../fonts/arame/thin/arame.eot');
  src: url('../fonts/arame/thin/arame.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arame/thin/arame.woff2') format('woff2'),
    url('../fonts/arame/thin/arame.woff') format('woff'),
    url('../fonts/arame/thin/arame.ttf') format('truetype'),
    url('../fonts/arame/thin/arame.svg#Arame') format('svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#dovotori-app {
  width: 100%;
}

body {
  line-height: 1.4;
  background-color: #222;
  overflow-x: hidden;
  color: #fff;
  transition: background-color 0.2s ease-out;
}

body,
button {
  font-family: 'lato', Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'lato', monospace;
}

html:lang(jp) h1 {
  font-family: 'nikkyou', monospace;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

p {
  letter-spacing: 0.02em;
}

a,
a:focus,
button:focus {
  text-decoration: none;
  outline: 0;
  border-radius: 0;
}

a {
  color: #66ffcc;
}

.bloc {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #222;
}
::-webkit-scrollbar-thumb {
  background-color: #666;
}
::-moz-selection {
  background: #66ffcc;
  color: #fff;
}
::selection {
  background: #66ffcc;
  color: #fff;
}
