* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#dovotori-app {
  width: 100%;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

a,
a:focus,
button:focus {
  text-decoration: none;
  outline: 0;
  border-radius: 0;
}

a {
  color: #66ffcc;
}

p {
  letter-spacing: 0.02em;
}

body, button {
  font-family: 'lato', Helvetica Neue, Helvetica, Arial, sans-serif;
}

html:lang(jp) body, button {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.4;
  background-color: #222;
  overflow-x: hidden;
  color: #fff;
  transition: background-color 0.2s ease-out;
}

.bloc {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #222;
}
::-webkit-scrollbar-thumb {
  background-color: #666;
}
::-moz-selection { background: #66ffcc; color: #fff; }
::selection { background: #66ffcc; color: #fff; }

@font-face {
  font-family: 'Numbers';
  src: url('../fonts/lintel-regular-webfont-subset-number.woff2');
  /* 0030-0039 unicode range for numbers */
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-hairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'aero_matics';
  src: url('../fonts/whiterabbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin';
  src: url('../fonts/josefin/josefinsans-black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'josefin';
  src: url('../fonts/josefin/josefinsans-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'josefin';
  src: url('../fonts/josefin/josefinsans-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'josefin';
  src: url('../fonts/josefin/josefinsans-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'josefin';
  src: url('../fonts/josefin/josefinsans-hairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'josefin';
  src: url('../fonts/josefin/josefinsans-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'matamata';
  src: url('../fonts/matamata-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'matamata';
  src: url('../fonts/matamata-bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}