
#dataviz {
	margin: 0;
	padding: 0;
	text-align: center;
}

#carte {
	margin: 0 auto;
	background: #efefef none;
	overflow: hidden;
}

.graticule {
	fill: none;
	stroke: #fff;
	stroke-width: 0.02em;
}

#sphere{
	fill: #efefef;	
}

.boundary {
	fill: none;
	stroke: #888;
	stroke-width: 0.03em;
}


.boundary:hover {
	cursor: pointer;
}


.noPenalty						{ fill: #dfdfdf; }

.diffamation					{ fill: #568cac; }
.blaspheme						{ fill: #5656bf; }
.apostasie						{ fill: #8080a0; }
.blasphemeDiffamation			{ fill: #804ab4; }
.apostasieDiffamation			{ fill: #ac568c; }
.blasphemeApostasie				{ fill: #bf5656; }

.allPenalties					{ fill: #533a67; }

.peindeDeMort					{ fill: transparent; }

.legendeTitre {
	font-size: 1em;
	font-family: sans-serif;
	fill: #000;
}

.legendeTexte {
	font-size: 0.6em;
	font-family: sans-serif;
	fill: #000;
}

.legendeTexte:hover {
	cursor: pointer;	
}

.infosTitre {
	font-size: 1.4em;
	font-family: sans-serif;
	fill: #fff;
}

.infosPenalisations {
	fill: #fff;	
	font-size: 1.0em;
	font-family: sans-serif;
}

.infosTexte {
	font-size: 1em;
	font-family: sans-serif;
	fill: #fff;
}

.infosSource {
	font-size: 0.7em;
	font-family: sans-serif;
	fill: #fff;
	cursor: pointer;
}

#infosFond {
	fill: rgba(60,60,60,0.95);
}

.capitaleTexte {
	font-size: 40%;
	font-family: sans-serif;
	fill: #aaa;
}

.capitalePoint {
	fill: #aaa;	
}

.pictosMort {
	stroke-width: 0.03em;
	stroke: #000;
	fill:#fff;	
}

#sources {
	color: #555;
	text-align: left;
	font-size: 0.8em;
	line-height: 1.3em;
	padding: 1%;
}

#sources a {
	color: #aaa;
}
