#delaunay {
	--project-color: #66ffcc;
	width: 100%;
	margin: 0 auto;
}

#delaunay #controls {
	display: block;
}

#delaunay #controls div {
	margin: 0 0 1em 0;
}

#delaunay #controls div.range {
	margin: 0 0 2em 0;
}

#delaunay #controls div label:not(.nomargin) {
	min-width: 40%;
}

#delaunay img {
	display: block;
}

#delaunay svg,
#delaunay canvas.debug {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#delaunay svg,
#delaunay canvas {
	max-width: 1200px;
	width: 100%;
	height: auto;
}

#delaunay #container {
	position: relative;
	z-index: 1;
}

.hide {
	visibility: hidden;
}
