name: deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.13.1'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint
        env:
          CI: true
        run: npm run lint

      - name: Typecheck
        env:
          CI: true
        run: npm run typecheck

      - name: Build
        run: npm run build --if-present

      - name: Run tests
        env:
          CI: true
        run: npm test -- --coverage --runInBand

      - name: Upload coverage
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage
      
      - name: Deploy
        run: npm run release